<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head') %>
</head>
<body class="bg-pblack">
    <%- include('./includes/header') %>
    <main>
        <section class="container-fluid mb-63px">
            <div class="row parallax-section">
                <article class="col-6 parallax-article bg-img-projects d-flex justify-content-center align-items-center">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion1/1-2_proyectos_fondo_214x1085.png" alt="Proyectos" class="parallax-img" data-parallax="scroll" data-speed="0.3" data-hover-mobile="/img/fotos_version_mobile_428X908/seccion1/1-2_proyectos_con_gente_214x1085.png">
                    </picture>
                    <div class="text-center caption-container p-3">
                        <a class="text-pwhite text-capitalize grouch shdw spc pt-40" href="#proyectos"><%= __('parallax.projects') %></a>
                    </div>
                </article>
                <article class="col-6 parallax-article bg-img-services d-flex justify-content-center align-items-center">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion1/2-servicios_214x1085.png" alt="Servicios" class="parallax-img" data-parallax="scroll" data-speed="0.3">
                    </picture>
                    <div class="text-center caption-container p-3">
                        <a class="text-pwhite text-capitalize grouch shdw spc pt-40" href="#servicios"><%= __('parallax.services') %></a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section">
                <article class="col-6 parallax-article bg-img-us d-flex justify-content-center align-items-center">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion1/3-Sobre_nosotros_214X1283_ojo_otros_celulares.png" alt="Nosotros" class="parallax-img" data-parallax="scroll" data-speed="0.3">
                    </picture>
                    <div class="text-center text-capitalize caption-container p-3">
                        <a class="text-pwhite grouch shdw spc pt-40" href="#nosotros"><%= __('parallax.about_us') %></a>
                    </div>
                </article>
                <article class="col-6 parallax-article bg-img-staff d-flex justify-content-center align-items-center">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion1/4-1nuestro_equipo_fondo_214x1283_ojo_otros_celulares.png" alt="Equipo" class="parallax-img" data-parallax="scroll" data-speed="0.3" data-hover-mobile="/img/fotos_version_mobile_428X908/seccion1/4-2nuestro_equipo_con_ellos_214x1283_ojo_otros_celulares.png">
                    </picture>
                    <div class="text-center text-capitalize caption-container p-3">
                        <a class="text-pwhite grouch shdw spc pt-40" href="#equipo"><%= __('parallax.team') %></a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section mb-3">
                <article class="col-6 parallax-article bg-img-partners d-flex justify-content-center align-items-center">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion1/5-1_aliados_SIN_silla_214X1715.png" alt="Aliados" class="parallax-img" data-parallax="scroll" data-speed="0.3" data-hover-mobile="/img/fotos_version_mobile_428X908/seccion1/5-1_aliados_con_silla_214X1715.png">
                    </picture>
                    <div class="text-center caption-container p-3">
                        <a class="text-pwhite text-capitalize grouch shdw spc pt-40" href="#aliados"><%= __('parallax.partners') %></a>
                    </div>
                </article>
                <article class="col-6 parallax-article bg-img-contact d-flex justify-content-center align-items-center">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion1/6-contactanos_214X1715.png" alt="Contacto" class="parallax-img" data-parallax="scroll" data-speed="0.3">
                    </picture>
                    <div class="text-center caption-container p-3">
                        <a class="text-pwhite text-capitalize grouch shdw spc pt-40" href="#contacto"><%= __('parallax.contact_us') %></a>
                    </div>
                </article>
            </div>
        </section>
        <div class="container mb-115px">
            <div class="row d-flex justify-content-center align-items-center">
                <img class="we-gif" src="/img/fotos_version_1900x--/WE---TOGETHER_GIF_fondo_negro_0000.gif">
            </div>
        </div>
        <section class="container-fluid" id="nosotros">
            <div class="row d-flex justify-content-center pl-3">
                <h2 class="col-10 text-pwhite text-capitalize kabel-demi pt-55"><%= __('about_us.title') %></h2>
            </div>
            <div class="row d-flex flex-wrap justify-content-center">
                <div class="col-12 col-md-5 p-36842">
                    <p class="text-pwhite text-justify popps-r pt-18"><%- __('about_us.paragraph1') %></p>
                    <p class="text-pwhite text-justify popps-r pt-18"><%= __('about_us.paragraph2') %></p>
                    <p class="text-pwhite text-justify popps-r pt-18"><%- __('about_us.paragraph3') %></p>
                </div>
                <div class="col-12 col-md-5 p-36842">
                    <p class="text-pwhite text-justify popps-r pt-18"><%- __('about_us.paragraph4') %></p>
                    <p class="text-pwhite text-justify popps-r pt-18"><%= __('about_us.paragraph5') %></p>
                    <p class="text-pwhite text-justify popps-r pt-18"><%- __('about_us.paragraph6') %></p>
                </div>
            </div>
            <div class="row d-flex justify-content-center mb-7">
                <h5 class="text-pwhite text-center text-uppercase kabel-med pt-30"><%= __('about_us.quote1') %></h5>
                <h5 class="text-pwhite text-center text-uppercase mb-63px kabel-med pt-30"><%= __('about_us.quote2') %></h5>
                <div class="col-12 d-flex justify-content-center mb-82px">
                    <div class="video-container position-relative">
                        <img src="/img/fotos_version_1900x--/reel_t2f_950x596.png" class="img-fluid" alt="Video thumbnail">
                        <button class="btn play-button position-absolute top-50 start-50 translate-middle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.271 5.055A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .757.429l4-2.5a.5.5 0 0 0 0-.858l-4-2.5a.5.5 0 0 0-.486-.016z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>            
        </section>
        <section class="container-fluid mb-148px" id="proyectos">
            <div class="row d-flex justify-content-center pl-3">
                <h4 class="col-10 text-pwhite text-capitalize mb-82px kabel-demi pt-55"><%= __('projects.title')  %></h4>
            </div>
            <div class="row parallax-section">
                <article class="col-6 parallax-article bg-img-antitusa d-flex justify-content-center align-items-center to-blur proj-art-1">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion1/1-Serie-Tips_Antitusa_214x1216.png" alt="Tips Antitusa" class="parallax-img" data-speed="0.3" data-parallax="scroll">
                    </picture>
                    <div class="caption-container grey-wrapper p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-22"><%= __('projects.commons.serie') %> - Tips Antitusa</h3>
                        </a>
                    </div>
                </article>
                <article class="col-6 parallax-article bg-img-restos d-flex justify-content-center align-items-center to-blur proj-art-2">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion1/2-Coming_soon_cortometraje_los_restos_de_la_cama_coproductores_214x1416.png" alt="Los restos de la cama" class="parallax-img" data-speed="0.3" data-parallax="scroll">
                    </picture>
                    <div class="caption-container grey-wrapper p-3">
                        <a href="#">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-18"><%= __('projects.commons.cortometraje')  %> - los restos de la cama</h3>
                            <p class="text-center text-pwhite grouch shdw spc pt-18"><%= __('projects.commons.coproductores') %></p>
                        </a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section">
                <article class="col-6 parallax-article bg-img-opening d-flex justify-content-center align-items-center to-blur proj-art-3">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion_2_proyectos/3-opening_concierto_214x916.png" alt="Opening Concierto" class="parallax-img" data-speed="0.3" data-parallax="scroll">
                    </picture>
                    <div class="caption-container grey-wrapper p-3">
                        <a href="#">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-22"><%= __('projects.row2_p1') %></h3>
                        </a>
                    </div>
                </article>
                <article class="col-6 parallax-article bg-img-fumo d-flex justify-content-center align-items-center to-blur proj-art-4">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion_2_proyectos/4-videoclip_fumo_y_bebo_214x916.png" alt="Videoclip - Fumo y Bebo" class="parallax-img" data-speed="0.3" data-parallax="scroll">
                    </picture>
                    <div class="caption-container grey-wrapper p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#fumo-viewer">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-22">Videoclip - Fumo y Bebo</h3>
                        </a>
                    </div>
                </article>
                <div class="modal fade" id="fumo-viewer" tabindex="-1" aria-labelledby="fumo-label" aria-hidden="true" data-video-type="youtube" data-video-id="zOYvALbEGsI">
                    <div class="modal-wrapper bg-pblack d-flex justify-content-center">
                        <div class="modal-dialog bg-pblack">
                            <div class="modal-content bg-pblack">
                                <div class="modal-header text-pwhite">
                                    <h2 class="modal-title fs-5 popps-sb pt-40" id="fumo-label"><a href="https://youtu.be/zOYvALbEGsI?si=lMC4SbwjM8txirLf" target="_blank">Fumo y Bebo - Pipe Bueno x Pablo Ocampo | <%= __('projects.commons.off_vid') %></a></h2>
                                    <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                        <img src="/img/cerrador_claqueta_64x64.svg" alt="T2F Cerrar">
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body d-flex justify-content-center align-items-center">
                                <iframe id="fumo-iframe" class="video-viewer embed-responsive-item"
                                        src="https://www.youtube.com/embed/zOYvALbEGsI?enablejsapi=1&controls=1"
                                        title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row parallax-section">
                <article class="col-6 parallax-article bg-img-transmi d-flex justify-content-center align-items-center to-blur proj-art-5">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion_2_proyectos/5-transmilenials_piloto_coproductores_214x1468_ojo_version_pro2.png" alt="Transmilenials - Piloto" class="parallax-img" data-speed="0.3" data-parallax="scroll">
                    </picture>
                    <div class="caption-container grey-wrapper p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#transmi-viewer">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-22"><p>Transmilenials - <%= __('projects.commons.piloto') %></p><%= __('projects.commons.coproductores') %></h3>
                        </a>
                    </div>
                </article>
                <div class="modal fade" id="transmi-viewer" tabindex="-1" aria-labelledby="transmi-label" aria-hidden="true" data-video-type="vimeo" data-video-id="317812871">
                    <div class="modal-wrapper bg-pblack d-flex justify-content-center">
                        <div class="modal-dialog bg-pblack">
                            <div class="modal-content bg-pblack">
                                <div class="modal-header text-pwhite">
                                    <h2 class="modal-title fs-5 popps-sb pt-40" id="transmi-label"><a href="https://vimeo.com/317812871" target="_blank">TRANSMILENIALS <%= __('projects.commons.piloto') %></a></h2>
                                    <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                        <img src="/img/cerrador_claqueta_64x64.svg" alt="T2F Cerrar">
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body d-flex justify-content-center align-items-center">
                                <iframe id="transmi-iframe" class="video-viewer embed-responsive-item" src="https://player.vimeo.com/video/317812871?h=27124600cc" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <article class="col-6 parallax-article bg-img-pipe d-flex justify-content-center align-items-center to-blur proj-art-6">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion_2_proyectos/6-concierto_15_años_pipe_bueno_214x1468_ojo_version_pro2.png" alt="Concierto 15 años Pipe Bueno" class="parallax-img" data-speed="0.3" data-parallax="scroll">
                    </picture>
                    <div class="caption-container grey-wrapper p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-22"><%= __('projects.row3_p2') %></h3>
                        </a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section">
                <article class="col-6 parallax-article bg-img-tarde d-flex justify-content-center align-items-center to-blur proj-art-7">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion_2_proyectos/7-video_clip_volviste_tarde_214x916.png" alt="Videoclip - Volviste Tarde" class="parallax-img" data-speed="0.3" data-parallax="scroll">
                    </picture>
                    <div class="caption-container grey-wrapper p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#tarde-viewer">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-22">Videoclip - Volviste Tarde</h3>
                        </a>
                    </div>
                </article>
                <div class="modal fade" id="tarde-viewer" tabindex="-1" aria-labelledby="tarde-label" aria-hidden="true" data-video-type="youtube" data-video-id="mseSKt9ebq8">
                    <div class="modal-wrapper bg-pblack d-flex justify-content-center">
                        <div class="modal-dialog bg-pblack">
                            <div class="modal-content bg-pblack">
                                <div class="modal-header text-pwhite">
                                    <h2 class="modal-title fs-5 popps-sb pt-40" id="tarde-label"><a href="https://youtu.be/mseSKt9ebq8?si=I2lNcSZCq8oyQ_RO" target="_blank">Volviste Tarde - Luisito Muñoz & Pipe Bueno | <%= __('projects.commons.off_vid') %></a></h2>
                                    <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                        <img src="/img/cerrador_claqueta_64x64.svg" alt="T2F Cerrar">
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body d-flex justify-content-center align-items-center">
                                <iframe id="tarde-iframe" class="video-viewer embed-responsive-item"
                                        src="https://www.youtube.com/embed/mseSKt9ebq8?enablejsapi=1"
                                        title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <article class="col-6 parallax-article bg-img-off d-flex justify-content-center align-items-center to-blur proj-art-14">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion_2_proyectos/14-Podcast_Voz_en_OFF_214x916.png" alt="Podcast - Voz en OFF" class="parallax-img" data-speed="0.3" data-parallax="scroll">
                    </picture>
                    <div class="caption-container grey-wrapper p-3">
                        <a href="https://www.youtube.com/@VozEnOff_Podcast" target="_blank">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-18">Podcast VOZ EN OFF</h3>
                        </a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section">
                <article class="col-6 parallax-article bg-img-misteriosa d-flex justify-content-center align-items-center to-blur proj-art-9">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion_2_proyectos/9-misteriosa_coproductores_214x916.png" alt="Misteriosa - Piloto" class="parallax-img" data-speed="0.3" data-parallax="scroll">
                    </picture>
                    <div class="caption-container grey-wrapper p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#misteriosa-viewer">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-22">Misteriosa - <%= __('projects.commons.piloto') %> <%= __('projects.commons.coproductores') %></h3>
                        </a>
                    </div>
                </article>
                <div class="modal fade" id="misteriosa-viewer" tabindex="-1" aria-labelledby="misteriosa-label" aria-hidden="true" data-video-type="vimeo" data-video-id="273802360">
                    <div class="modal-wrapper bg-pblack d-flex justify-content-center">
                        <div class="modal-dialog bg-pblack">
                            <div class="modal-content bg-pblack">
                                <div class="modal-header text-pwhite">
                                    <h2 class="modal-title fs-5 popps-sb pt-40" id="misteriosa-label"><a href="https://vimeo.com/273802360" target="_blank">Misteriosa Teaser</a></h2>
                                    <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                        <img src="/img/cerrador_claqueta_64x64.svg" alt="T2F Cerrar">
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body d-flex justify-content-center align-items-center">
                                <iframe id="misteriosa-iframe" class="video-viewer embed-responsive-item" src="https://player.vimeo.com/video/273802360?h=67dca1d8c4" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <article class="col-6 parallax-article bg-img-nono d-flex justify-content-center align-items-center to-blur proj-art-10">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion_2_proyectos/10-video_clip_no_me_digas_que_no_214x916.png" alt="Videoclip - No me digas que no" class="parallax-img" data-speed="0.3" data-parallax="scroll">
                    </picture>
                    <div class="caption-container grey-wrapper p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#no-no-viewer">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-22">Videoclip - No me digas que no</h3>
                        </a>
                    </div>
                </article>
                <div class="modal fade" id="no-no-viewer" tabindex="-1" aria-labelledby="no-no-label" aria-hidden="true" data-video-type="youtube" data-video-id="ounCk95-ctU">
                    <div class="modal-wrapper bg-pblack d-flex justify-content-center">
                        <div class="modal-dialog bg-pblack">
                            <div class="modal-content bg-pblack">
                                <div class="modal-header text-pwhite">
                                    <h2 class="modal-title fs-5 popps-sb pt-40" id="no-no-label"><a href="https://youtu.be/ounCk95-ctU?si=GtCU_NL8qfkUH3ho" target="_blank">No Me Digas Que No - Pipe Bueno x Luis Alfonso | <%= __('projects.commons.off_vid') %></a></h2>
                                    <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                        <img src="/img/cerrador_claqueta_64x64.svg" alt="T2F Cerrar">
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body d-flex justify-content-center align-items-center">
                                <iframe id="no-no-iframe" class="video-viewer embed-responsive-item"
                                        src="https://www.youtube.com/embed/ounCk95-ctU?enablejsapi=1"
                                        title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row parallax-section">
                <article class="col-6 parallax-article bg-img-cantina d-flex justify-content-center align-items-center to-blur proj-art-11">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion_2_proyectos/11-video_clip_la_cantina_214x916.png" alt="Videoclip - La Cantina" class="parallax-img" data-speed="0.3" data-parallax="scroll">
                    </picture>
                    <div class="caption-container grey-wrapper p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#cantina-viewer">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-22">Videoclip - La Cantina</h3>
                        </a>
                    </div>
                </article>
                <div class="modal fade" id="cantina-viewer" tabindex="-1" aria-labelledby="cantina-label" aria-hidden="true" data-video-type="youtube" data-video-id="VJ-DRbDXepE">
                    <div class="modal-wrapper bg-pblack d-flex justify-content-center">
                        <div class="modal-dialog bg-pblack">
                            <div class="modal-content bg-pblack">
                                <div class="modal-header text-pwhite">
                                    <h2 class="modal-title fs-5 popps-sb pt-40" id="cantina-label"><a href="https://youtu.be/VJ-DRbDXepE?si=FiRzaNrpnQLzZAN2" target="_blank">La Cantina (Remix) - Hernan Gómez x Luis Alfonso x Pipe Bueno | <%= __('projects.commons.off_vid') %></a></h2>
                                    <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                        <img src="/img/cerrador_claqueta_64x64.svg" alt="T2F Cerrar">
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body d-flex justify-content-center align-items-center">
                                <iframe id="cantina-iframe" class="video-viewer embed-responsive-item"
                                        src="https://www.youtube.com/embed/VJ-DRbDXepE?enablejsapi=1"
                                        title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <article class="col-6 parallax-article bg-img-casa d-flex justify-content-center align-items-center to-blur proj-art-12">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion_2_proyectos/12-capsulas_la_casa_del_diseño_colombiano_214x916.png" alt="La Casa del Diseño Colombiano" class="parallax-img" data-speed="0.3" data-parallax="scroll">
                    </picture>
                    <div class="caption-container grey-wrapper p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-22"><p><%= __('projects.commons.capsulas') %> - La Casa del</p>Diseño Colombiano</h3>
                        </a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section">
                <article class="col-6 parallax-article bg-img-movistar d-flex justify-content-center align-items-center to-blur proj-art-13">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion_2_proyectos/13-concierto_moviestar_arena_214x916.png" alt="Concierto Movistar Arena" class="parallax-img" data-speed="0.3" data-parallax="scroll">
                    </picture>
                    <div class="caption-container grey-wrapper p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-22"><%= __('projects.row7_p1') %></h3>
                        </a>
                    </div>
                </article>
                <article class="col-6 parallax-article bg-img-fuera d-flex justify-content-center align-items-center to-blur proj-art-8">
                    <picture>
                        <img src="/img/fotos_version_mobile_428X908/seccion_2_proyectos/8-podcast-fuera_de_set-travesaคo_214x916.png" alt="Podcast - Fuera de set" class="parallax-img" data-speed="0.3" data-parallax="scroll">
                    </picture>
                    <div class="caption-container grey-wrapper p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#fuera-viewer">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-22">Podcast - Fuera de Set</h3>
                        </a>
                    </div>
                </article>
                <div class="modal fade" id="fuera-viewer" tabindex="-1" aria-labelledby="fuera-label" aria-hidden="true" data-video-type="youtube" data-video-id="QNHbO-Z4yNs">
                    <div class="modal-wrapper bg-pblack d-flex justify-content-center">
                        <div class="modal-dialog bg-pblack">
                            <div class="modal-content bg-pblack">
                                <div class="modal-header text-pwhite">
                                    <h2 class="modal-title fs-5 popps-sb pt-40" id="fuera-label"><a href="https://www.youtube.com/@fueradeset" target="_blank">Fuera de Set</a></h2>
                                    <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                        <img src="/img/cerrador_claqueta_64x64.svg" alt="T2F Cerrar">
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body d-flex flex-wrap justify-content-center align-items-center">
                                <iframe id="fuera-iframe" class="video-viewer embed-responsive-item"
                                        src="https://www.youtube.com/embed/QNHbO-Z4yNs?enablejsapi=1"
                                        title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                                <div class="col-md-12 iframe-text">
                                    <p class="text-pwhite text-justfy popps-r pt-14"><%= __('projects.modals.row3_p2.p1') %></p>
                                    <p class="text-pwhite text-justfy popps-r pt-14"><%= __('projects.modals.row3_p2.p2') %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid mb-200px" id="servicios">
            <div class="row d-flex flex-wrap justify-content-center">
                <h4 class="text-pwhite text-capitalize col-12 text-center mb-5 kabel-demi pt-55"><%= __('services.title') %></h4>
                <div class="col-md-8">
                    <p class="text-pwhite text-justify mb-4 popps-r pt-18"><%= __('services.description.p1') %></p>
                    <p class="text-pwhite text-justify mb-4 popps-r pt-18"><%= __('services.description.p2') %></p>
                    <p class="text-pwhite text-justify mb-148px popps-r pt-18"><%= __('services.description.p3') %></p>
                </div>
            </div>
            <div class="row">
                <div id="customCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <img src="/img/fotos_version_1900x--/fotos_servicios_seccion3/servicios_de_produccion_950x596.png" class="d-block w-100" alt="Servicios de Producción">
                                    <div class="carousel-caption caption-left d-none d-md-block p-3">
                                        <h2 class="text-pwhite text-center grouch shdw spc pt-30"><%= __('services.carousel.slide1.caption.top') %><p><%= __('services.carousel.slide1.caption.bottom') %></p></h2>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <img src="/img/fotos_version_1900x--/fotos_servicios_seccion3/realizacion_de_contenido_950x596.png" class="d-block w-100" alt="Realización de Contenido">
                                    <div class="carousel-caption caption-right d-none d-md-block p-3">
                                        <h2 class="text-pwhite text-center grouch shdw spc pt-30"><%= __('services.carousel.slide2.caption.top') %><p><%= __('services.carousel.slide2.caption.bottom') %></p></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <img src="/img/fotos_version_1900x--/fotos_servicios_seccion3/guiones_950x596.png" class="d-block w-100" alt="Guiones">
                                    <div class="carousel-caption caption-left d-none d-md-block p-3">
                                        <h2 class="text-pwhite text-center grouch shdw spc pt-30"><%= __('services.carousel.slide3') %></h2>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <img src="/img/fotos_version_1900x--/fotos_servicios_seccion3/produccion_de_comerciales_950x596.png" class="d-block w-100" alt="Producción de Comerciales">
                                    <div class="carousel-caption caption-right d-none d-md-block p-3">
                                        <h2 class="text-pwhite text-center grouch shdw spc pt-30"><%= __('services.carousel.slide4.caption.top') %><p><%= __('services.carousel.slide4.caption.bottom') %></p></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <img src="/img/fotos_version_1900x--/fotos_servicios_seccion3/post_produccion_950x596.png" class="d-block w-100" alt="Post Producción">
                                    <div class="carousel-caption caption-left d-none d-md-block p-3">
                                        <h2 class="text-pwhite text-center grouch shdw spc pt-30"><%= __('services.carousel.slide5') %></h2>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <img src="/img/fotos_version_1900x--/fotos_servicios_seccion3/asesoria_de_proyectos_950x596.png" class="d-block w-100" alt="Asesoría de Proyectos">
                                    <div class="carousel-caption caption-right d-none d-md-block p-3">
                                        <h2 class="text-pwhite text-center grouch shdw spc pt-30"><%= __('services.carousel.slide6.caption.top') %><p><%= __('services.carousel.slide6.caption.bottom') %></p></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev custom-control" type="button" data-bs-target="#customCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-ic" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next custom-control" type="button" data-bs-target="#customCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-ic" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
        <section class="container-fluid mb-200px" id="equipo">
            <div class="row d-flex flex-wrap justify-content-center mb-7">
                <div class="col-md-9">
                    <h4 class="text-center text-pwhite mb-5 kabel-demi pt-55"><%= __('services.team.title') %></h4>
                    <p class="text-pwhite text-center kabel-med pt-30"><%= __('services.team.sub') %></p>
                </div>
            </div>
            <div class="row d-flex flex-wrap justify-content-center">
                <div class="col-md-9">
                    <div class="row d-flex flex-wrap justify-content-center mb-42px staff-row-wrapper">
                        <div class="card-wrapper d-flex justify-content-center  to-blur">
                            <img class="card-img-bg" src="/img/fotos_version_1900x--/fotos_Equipo_seccion_4/Maria_delgado_CEO_242x242.png" alt="MARIA DELGADO">
                            <div class="staff-caption wrapper-1">
                                <a class="text-center text-pwhite" href="" data-bs-toggle="modal" data-bs-target="#mariaD-bio">
                                    <h5 class="popps-sb pt-16 mb-42px shdw">MARIA DELGADO</h5>
                                    <p class="popps-r pt-14 shdw">CEO - <%= __('services.team.staff.maria.position1') %> -</p>
                                    <p class="popps-r pt-14 shdw"><%= __('services.team.staff.maria.position2') %></p>
                                </a>
                            </div>
                        </div>
                         <div class="modal fade bio-modal" id="mariaD-bio" tabindex="-1" aria-labelledby="mariaD-bio-label" aria-hidden="true">
                            <div class="modal-wrapper bg-pblackT d-flex justify-content-center">
                                <div class="modal-dialog bg-pblackT">
                                    <div class="modal-content bg-pblackT">
                                        <div class="modal-header text-pwhite text-uppercase">
                                            <h5 class="modal-title fs-5 ail-b pt-40" id="mariaD-bio-label"><a href="https://www.imdb.com/name/nm7515371/?ref_=ext_shr_lnk" target="_blank">ceo - <%= __('services.team.staff.maria.position1') %> - <%= __('services.team.staff.maria.position2') %></a></h5>
                                            <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                                <img src="/img/cerrador_claqueta_64x64.svg" alt="T2F Cerrar">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <div class="bio-text">
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.maria.bio.p1') %></p>
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.maria.bio.p2') %></p>
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.maria.bio.p3') %></p>
                                            <p class="text-pwhite text-end popps-r pt-18"><a href="https://www.imdb.com/name/nm7515371/?ref_=ext_shr_lnk" target="_blank"><%= __('services.team.staff.maria.bio.more') %>  <img class="imdb-logo" src="/img/fotos_version_1900x--/fotos_Equipo_seccion_4/logo_IMDb.svg" alt="imdb logo"></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-wrapper d-flex justify-content-center to-blur">
                            <img class="card-img-bg" src="/img/fotos_version_1900x--/fotos_Equipo_seccion_4/Juan_Tobon_pepino_CEO_242x242.png" alt="JUAN TOBÓN PEPINO">
                            <div class="staff-caption wrapper-1">
                                <a class="text-center text-pwhite" href="" data-bs-toggle="modal" data-bs-target="#juanT-bio">
                                    <h5 class="popps-sb pt-16 shdw"><p>JUAN TOBÓN</p>PEPINO</h5>
                                    <p class="popps-r pt-14 shdw">CEO - <%= __('services.team.staff.pepino.position1') %> -</p>
                                    <p class="popps-r pt-14 shdw"><%= __('services.team.staff.pepino.position2') %></p>
                                </a>
                            </div>
                        </div>
                         <div class="modal fade bio-modal" id="juanT-bio" tabindex="-1" aria-labelledby="juanT-bio-label" aria-hidden="true">
                            <div class="modal-wrapper bg-pblackT d-flex justify-content-center">
                                <div class="modal-dialog bg-pblackT">
                                    <div class="modal-content bg-pblackT">
                                        <div class="modal-header text-pwhite text-uppercase">
                                            <h5 class="modal-title fs-5 ail-b pt-40" id="juanT-bio-label"><a href="https://www.imdb.com/name/nm8008446/?ref_=ext_shr_lnk" target="_blank">ceo - <%= __('services.team.staff.pepino.position1') %> - <%= __('services.team.staff.pepino.position2') %></a></h5>
                                            <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                                <img src="/img/cerrador_claqueta_64x64.svg" alt="T2F Cerrar">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <div class="bio-text">
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.pepino.bio.p1') %></p>
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.pepino.bio.p2') %></p>
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.pepino.bio.p3') %></p>
                                            <p class="text-pwhite text-end popps-r pt-18"><a href="https://www.imdb.com/name/nm8008446/?ref_=ext_shr_lnk" target="_blank"><%= __('services.team.staff.pepino.bio.more') %>  <img class="imdb-logo" src="/img/fotos_version_1900x--/fotos_Equipo_seccion_4/logo_IMDb.svg" alt="imdb logo"></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-wrapper d-flex justify-content-center  to-blur">
                            <img class="card-img-bg" src="/img/fotos_version_1900x--/fotos_Equipo_seccion_4/jeiver_pinto_director_guionista_242x242.png" alt="JEIVER PINTO">
                            <div class="staff-caption wrapper-1">
                                <a class="text-center text-pwhite" href="" data-bs-toggle="modal" data-bs-target="#jeiverP-bio">
                                    <h5 class="popps-sb pt-16 mb-42px shdw">JEIVER PINTO</h5>
                                    <p class="popps-r pt-14 shdw"><%= __('services.team.staff.jeiver.position') %></p>
                                </a>
                            </div>
                        </div>
                         <div class="modal fade bio-modal" id="jeiverP-bio" tabindex="-1" aria-labelledby="jeiverP-bio-label" aria-hidden="true">
                            <div class="modal-wrapper bg-pblackT d-flex justify-content-center">
                                <div class="modal-dialog bg-pblackT">
                                    <div class="modal-content bg-pblackT">
                                        <div class="modal-header text-pwhite text-uppercase">
                                            <h5 class="modal-title fs-5 ail-b pt-40" id="jeiverP-bio-label"><a href="https://www.imdb.com/name/nm5779094/?ref_=ext_shr_lnk" target="_blank"><%= __('services.team.staff.jeiver.position') %></a></h5>
                                            <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                                <img src="/img/cerrador_claqueta_64x64.svg" alt="T2F Cerrar">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <div class="bio-text">
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.jeiver.bio.p1') %></p>
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.jeiver.bio.p2') %></p>
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.jeiver.bio.p3') %></p>
                                            <p class="text-pwhite text-end popps-r pt-18"><a href="https://www.imdb.com/name/nm5779094/?ref_=ext_shr_lnk" target="_blank"><%= __('services.team.staff.jeiver.bio.more') %>  <img class="imdb-logo" src="/img/fotos_version_1900x--/fotos_Equipo_seccion_4/logo_IMDb.svg" alt="imdb logo"></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-wrapper d-flex justify-content-center to-blur">
                            <img class="card-img-bg" src="/img/fotos_version_1900x--/fotos_Equipo_seccion_4/felipe_camargo_editor_242x242.png" alt="FELIPE CAMARGO">
                            <div class="staff-caption wrapper-1">
                                <a class="text-center text-pwhite" href="" data-bs-toggle="modal" data-bs-target="#felipeC-bio">
                                    <h5 class="popps-sb pt-16 mb-42px shdw">FELIPE CAMARGO</h5>
                                    <p class="popps-r pt-14 shdw"><%= __('services.team.staff.felipe.position') %></p>
                                </a>
                            </div>
                        </div>
                         <div class="modal fade bio-modal" id="felipeC-bio" tabindex="-1" aria-labelledby="felipeC-bio-label" aria-hidden="true">
                            <div class="modal-wrapper bg-pblackT d-flex justify-content-center">
                                <div class="modal-dialog bg-pblackT">
                                    <div class="modal-content bg-pblackT">
                                        <div class="modal-header text-pwhite text-uppercase">
                                            <h5 class="modal-title fs-5 ail-b pt-40" id="felipeC-bio-label"><a href="" target="_blank"><%= __('services.team.staff.felipe.position') %></a></h5>
                                            <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                                <img src="/img/cerrador_claqueta_64x64.svg" alt="T2F Cerrar">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <div class="bio-text">
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.felipe.bio.p1') %></p>
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.felipe.bio.p2') %></p>
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.felipe.bio.p3') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                  
                    </div>
                    <div class="row d-flex flex-wrap justify-content-center staff-row-wrapper">
                        <div class="card-wrapper d-flex justify-content-center align-items-center to-blur">
                            <img class="card-img-bg" src="/img/fotos_version_1900x--/fotos_Equipo_seccion_4/laura_crismatt_directora_creativa_242x242.png" alt="LARUA CRISMATT">
                            <div class="staff-caption">
                                <a class="text-center text-pwhite" href="" data-bs-toggle="modal" data-bs-target="#lauraC-bio">
                                    <h5 class="popps-sb pt-16 shdw">LARUA CRISMATT</h5>
                                    <p class="popps-r pt-14 shdw"><%= __('services.team.staff.lauc.position') %></p>
                                </a>
                            </div>
                        </div>
                         <div class="modal fade bio-modal" id="lauraC-bio" tabindex="-1" aria-labelledby="lauraC-bio-label" aria-hidden="true">
                            <div class="modal-wrapper bg-pblackT d-flex justify-content-center">
                                <div class="modal-dialog bg-pblackT">
                                    <div class="modal-content bg-pblackT">
                                        <div class="modal-header text-pwhite text-uppercase">
                                            <h5 class="modal-title fs-5 ail-b pt-40" id="lauraC-bio-label"><a href="" target="_blank"><%= __('services.team.staff.lauc.position') %></a></h5>
                                            <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                                <img src="/img/cerrador_claqueta_64x64.svg" alt="T2F Cerrar">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <div class="bio-text">
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.lauc.bio') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="card-wrapper d-flex justify-content-center align-items-center to-blur">
                            <img class="card-img-bg" src="/img/fotos_version_1900x--/fotos_Equipo_seccion_4/laura_bonilla_directora_creativa_242x242.png" alt="LAURA BONILLA">
                            <div class="staff-caption">
                                <a class="text-center text-pwhite" href="" data-bs-toggle="modal" data-bs-target="#lauraB-bio">
                                    <h5 class="popps-sb pt-16 shdw">LAURA BONILLA</h5>
                                    <p class="popps-r pt-14 shdw"><%= __('services.team.staff.laub.position') %></p>
                                </a>
                            </div>
                        </div>
                         <div class="modal fade bio-modal" id="lauraB-bio" tabindex="-1" aria-labelledby="lauraB-bio-label" aria-hidden="true">
                            <div class="modal-wrapper bg-pblackT d-flex justify-content-center">
                                <div class="modal-dialog bg-pblackT">
                                    <div class="modal-content bg-pblackT">
                                        <div class="modal-header text-pwhite text-uppercase">
                                            <h5 class="modal-title fs-5 ail-b pt-40" id="lauraB-bio-label"><a href="" target="_blank"><%= __('services.team.staff.laub.position') %></a></h5>
                                            <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                                <img src="/img/cerrador_claqueta_64x64.svg" alt="T2F Cerrar">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <div class="bio-text">
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.laub.bio.p1') %></p>
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.laub.bio.p2') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-wrapper d-flex justify-content-center align-items-center to-blur">
                            <img class="card-img-bg" src="/img/fotos_version_1900x--/fotos_Equipo_seccion_4/Valentina_cerci_community_manegar_242x242.png" alt="VALENTINA CICERI">
                            <div class="staff-caption">
                                <a class="text-center text-pwhite" href="" data-bs-toggle="modal" data-bs-target="#valentinaC-bio">
                                    <h5 class="popps-sb pt-16 shdw">VALENTINA CICERI</h5>
                                    <p class="popps-r pt-14 shdw">COMMUNITY MANAGER</p>
                                </a>
                            </div>
                        </div>
                         <div class="modal fade bio-modal" id="valentinaC-bio" tabindex="-1" aria-labelledby="valentinaC-bio-label" aria-hidden="true">
                            <div class="modal-wrapper bg-pblackT d-flex justify-content-center">
                                <div class="modal-dialog bg-pblackT">
                                    <div class="modal-content bg-pblackT">
                                        <div class="modal-header text-pwhite text-uppercase">
                                            <h5 class="modal-title fs-5 ail-b pt-40" id="valentinaC-bio-label"><a href="" target="_blank">COMMUNITY MANAGER</a></h5>
                                            <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                                <img src="/img/cerrador_claqueta_64x64.svg" alt="T2F Cerrar">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <div class="bio-text">
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.vale.bio.p1') %></p>
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.vale.bio.p2') %></p>
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.vale.bio.p3') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-wrapper d-flex justify-content-center align-items-center to-blur">
                            <img class="card-img-bg" src="/img/fotos_version_1900x--/fotos_Equipo_seccion_4/Mario_Ibarra_242x242.png" alt="MARIO IBARRA">
                            <div class="staff-caption">
                                <a class="text-center text-pwhite" href="" data-bs-toggle="modal" data-bs-target="#marioI-bio">
                                    <h5 class="popps-sb pt-16 shdw">MARIO IBARRA</h5>
                                    <p class="popps-r pt-14 shdw"><%= __('services.team.staff.mario.position1') %> -</p>
                                    <p class="popps-r pt-14 shdw"><%= __('services.team.staff.mario.position2') %> -</p>
                                    <p class="popps-r pt-14 shdw">CASTING </p>
                                </a>
                            </div>
                        </div>
                         <div class="modal fade bio-modal" id="marioI-bio" tabindex="-1" aria-labelledby="marioI-bio-label" aria-hidden="true">
                            <div class="modal-wrapper bg-pblackT d-flex justify-content-center">
                                <div class="modal-dialog bg-pblackT">
                                    <div class="modal-content bg-pblackT">
                                        <div class="modal-header text-pwhite text-uppercase">
                                            <h5 class="modal-title fs-5 ail-b pt-40" id="marioI-bio-label"><a href="" target="_blank"><%= __('services.team.staff.mario.position1') %> - <%= __('services.team.staff.mario.position2') %> - CASTING</a></h5>
                                            <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                                <img src="/img/cerrador_claqueta_64x64.svg" alt="T2F Cerrar">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <div class="bio-text">
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.mario.bio.p1') %></p>
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.mario.bio.p2') %></p>
                                            <p class="text-pwhite text-justfy popps-r pt-18"><%= __('services.team.staff.mario.bio.p3') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid mb-115px" id="aliados">
            <div class="row d-flex justify-content-center mb-42px">
                <h5 class="text-center text-pwhite text-capitalize kabel-demi pt-55"><%= __('partners.title') %></h5>
            </div>
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-5 d-flex justify-content-center align-items-center">
                    <img class="casa-dc" src="/img/fotos_version_1900x--/aliados_logos/La_casa_del_diseño_Colombiano.png" alt="La Casa del Diseño Colombiano">
                </div>
            </div>
            <div class="row d-flex flex-wrap justify-content-between align-items-center brands-3 ">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <img class="l-tengo" src="/img/fotos_version_1900x--/aliados_logos/latengo.PNG" alt="La Tengo - Agencia">
                </div>
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <img class="proyectil" src="/img/fotos_version_1900x--/aliados_logos/LOGO_PROYECTIL_TR-04.png" alt="Proyectil">
                </div>
            </div>
            <div class="row d-flex flex-wrap justify-content-center align-items-center brands-1 ">
                <div class="col-5 d-flex justify-content-center align-items-center">
                    <img class="l-t2f" src="/img/t2f_logo.png" alt="Take2Films">
                </div>
            </div>
            <div class="row d-flex flex-wrap justify-content-between align-items-center brands-3 ">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <img class="FHC" src="/img/fotos_version_1900x--/aliados_logos/fundacion_ong.png" alt="Fundación Héroes de Colombia">
                </div>
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <img class="PipeB" src="/img/fotos_version_1900x--/aliados_logos/pipe_bueno_305x463.png" alt="Pipe Bueno">
                </div>
            </div>
            <div class="row d-flex flex-wrap justify-content-center align-items-center">
                <div class="col-5 d-flex justify-content-center align-items-center">
                    <img class="eclypsso" src="/img/fotos_version_1900x--/aliados_logos/Eclypso_Films_Vert_White_Color.png" alt="Eclypsso Films">
                </div>
            </div>
        </section>
        <section class="container-fluid mb-7" id="contacto">
            <div class="row d-flex justify-content-center mb-7">
                <h3 class="text-center text-capitalize text-pwhite kabel-demi pt-55"><%= __('contact_us.title') %></h3>
            </div>
            <div class="row d-flex justify-content-center form-wrapper">
                <form class="col-md-8 fadeInUpBig animated" action="/users/contact" method="post">
                    <div class="row d-flex flex-wrap justify-content-center mb-7">
                        <h5 class="text-center text-pwhite kabel-med pt-18"><%= __('contact_us.catchy') %></h5>
                    </div>
                    <div class="row d-flex flex-wrap justify-content-center">
                        <div class="col-5 mb-form">
                            <input class="w-100 form-control popps-r" type="text" name="name" placeholder="<%= __('contact_us.form.name') %>" required>
                        </div>
                        <div class="col-5 mb-form">
                            <input class="w-100 form-control popps-r" type="text" name="surname" placeholder="<%= __('contact_us.form.surname') %>" required>
                        </div>
                        <div class="col-5 mb-form">
                            <input class="w-100 form-control popps-r" type="email" name="email" placeholder="<%= __('contact_us.form.email') %>" required>
                        </div>
                        <div class="col-5 mb-form">
                            <input class="w-100 form-control popps-r" type="text" name="mobileNumber" placeholder="<%= __('contact_us.form.mobile') %>">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-10 mb-form">
                            <textarea class="w-100 form-control" cols="30" rows="10" name="message" placeholder="<%= __('contact_us.form.message') %>"></textarea>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center align-items-center btn-wrapper">
                        <button type="submit" class="btn btn-white text-center text-black popps-sb"><%= __('contact_us.form.submit') %></button>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
<%- include('./includes/footer') %>
</html>